body{
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: large;
}

table{
    width: 50%;
    margin: 50px auto;
    border-collapse: collapse;
    border: 1px solid #fff;
}

th{
    padding: 10px;
    background-color: #a8afa8; 
    border: 1px solid #fff;
}

tr:nth-child(even){
    background-color: #eba9c1;
    border: 1px solid #fff;
}

tr:nth-child(odd) {
    background-color: #41be33; 
    border: 1px solid #fff;
}

td{
    padding: 10px;
    text-align: center;
    border: 1px solid #fff;
    
}

tbody {
    display: block;  
    height: 210px;   
    overflow-y: auto;  
    overflow-x: hidden;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;  
}

thead {
    border: 1px solid #fff;
    position: sticky;
    top: 0;
    z-index: 1;  
    background-color: #a8afa8; 

}

