body {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: large;
}

table {
    width: 50%;
    margin: 50px auto;
    border-collapse: collapse;
    border: 1px solid #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;
}

th {
    background-color: #a8afa8;
}

tr:nth-child(even) {
    background-color: #eba9c1;
}

tr:nth-child(odd) {
    background-color: #41be33;
}

tbody {
    display: block;
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #a8afa8;
}
